.navbar-wrapper {
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .navbar-menu_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 30px;
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(2,139,81);
  }
  .navbar-menu_item:hover {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
    transition: .1s;
  }
  .navbar-title {
    font-size: 24px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    color: rgb(2,139,81);
    margin: auto;
  }
  .navbar-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    cursor: pointer;
    padding: 8px;
  }
  .navbar-contact:hover {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
    transition: .1s;
  }
  .navbar-contacts_tel {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(2,139,81);
  }
  @media screen and (max-width: 800px){
    .navbar-wrapper {
      flex-direction: column;
      height: 200px;
      width: 100%;
    }
    .navbar-menu {
      flex-direction: column;
    }
  }