body {
  background-color: rgb(244,245,248);
  margin: auto;
  max-width: 1300px;
}
.main-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-wrapper {
  background-color: rgb(255,255,255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
}
.navbar-menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  height: 30px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(2,139,81);
}
.navbar-menu_item:hover {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: .1s;
}
.navbar-title {
  font-size: 28px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  color: rgb(2,139,81);
  margin: auto;
}
.navbar-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: pointer;
  padding: 8px;
}
.navbar-contact:hover {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: .1s;
}
.navbar-contacts_tel {
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(2,139,81);
}
.background-image {
  opacity: 60%;
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:  rgb(244,245,248);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider-img {
  position: absolute;
  transition: all 2s;
  opacity: 40%;
  border-radius: 50%;
}

.slider-img-prev {
  transform: translateX(-100%);
  transition: 2s;
}

.slider-img-next {
  transform: translateX(100%);
  transition: 2s;
}
.slider_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(2,139,81);
  font-family: "Poiret One", cursive;
}
.slider_btn {
  position: absolute;
  top: 80%;
  left: 45%;
}
.slider_btn_catalog {
 font-size: 20px;
 color: rgb(255, 255, 255);
 background-color: rgb(2,139,81);
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 width: 160px;
 height: 30px;
 text-decoration: none;
 font-family: "Montserrat Alternates", sans-serif;
 font-size: 16px;
 font-weight: 600;
 border-radius: 6px;
}
.slider_btn_catalog:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: .1s;
}
.chooseus {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}
.chooseus_header {
  font-size: 28px;
  margin: 30px;
  color: rgb(2,139,81);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}
.choorseus_descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.choorseus_description-item {
    text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
  font-family: "Poiret One", cursive;
  color: rgb(2,139,81);
  font-weight: bold;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
}
.footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.footer_feedback{
    width: 200px;
    height: 70px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_feedback_icons {
  padding: 8px;
}
.footer_feedback_icons:hover {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  transition: .1s;
}
.feedback-form-block {
  width: 400px;
  min-height: 650px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  padding-bottom: 20px;
}
.feedback-block_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.feedback-form_label {
  display: flex;
  justify-content: center;
}
.feedback-form_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: rgb(2,139,81);
}
.feedback-form_label {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: rgb(2,139,81);
  margin: 10px;
}
.feedback-form_input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  color: rgb(2,139,81);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  border-radius: 4px;
  font-weight: 700;
  margin: 20px;
}
.feedback-form_input:focus {
  outline: none;
  background-color: rgba(2, 139, 82, 0.782);
  color: rgb(253, 253, 253);
}
.feedback-form_btn {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: rgb(2,139,81);
  border:none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  cursor: pointer;
  margin-top: 30px;
}
.feedback-form_btn:hover {
  background-color: rgb(255,255,255);
  transition: 1s;
}
.validation-hint, .feedback-delivered_block {
  font-size: 16px;
  margin: 0;
  color: rgb(162, 6, 6);
  font-family: "Montserrat Alternates", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  padding: 8px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: 600;
}
.feedback-delivered_block {
  color: rgb(2,139,81);
  margin-top: 20px;
}
