body {
  background-color: rgb(244, 245, 248);
  margin: auto;
  max-width: 1300px;
}

.main-wrapper {
  width: 1300px;
  height: 100%;
}
.main-wrapper_opened_modal {
  position: fixed;
  overflow: hidden;
  margin: auto;
}

@media screen and (max-width: 800px) {
  body {
    margin: auto;
    max-width: 600px;
  }
}
